<div class="container">
  <div class="row">
    <!-- Latest Posts -->
    <main class="posts-listing col-lg-8">
      <div class="container">
        <div class="row">
          <!-- post -->
          <ng-container *ngFor="let posts of blogPosts" class="posts">
            <div class="post col-xl-6">
              <app-card [post]="posts"></app-card>
            </div>
          </ng-container>
          <div class="w-100">
            <app-paging-component
              [page]="page"
              (newPage)="getPage($event)"
            ></app-paging-component>
          </div>
          <!-- end post-->
        </div>
      </div>
    </main>
    <aside class="col-lg-4">
      <!-- Widget [Search Bar Widget]-->
      <app-search-widget></app-search-widget>
      <!-- Widget [Latest Posts Widget] -->
      <app-lastest-posts-widget></app-lastest-posts-widget>
      <!-- Widget [Categories Widget]-->
      <app-categories-widget></app-categories-widget>
      <!-- Widget [Tags Cloud Widget]-->
      <app-tags-widget></app-tags-widget>
    </aside>
  </div>
</div>
